.stres{
    width: 370px;
    height: 270px;
    margin: 10px;
    padding: 5px;
    padding-bottom: 20px ;
    border-bottom: rgb(223, 223, 223) 1px solid;

    #pro{
        position: absolute;
        left: 50px;
        top: 1050px;
    }

    nav{
        padding-top: 10px;
        ul{ 
            li{
                padding-top: 10px;
                padding-bottom:10px ;
                height: 100px;
                
                }
            }
        }
    }
    